<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HoldTheAllergenEntities" connectionString="metadata=res://*/Models.HoldTheAllergenEntities.csdl|res://*/Models.HoldTheAllergenEntities.ssdl|res://*/Models.HoldTheAllergenEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=HoldTheAllergen;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
