<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\lruckman\Desktop\publish\holdtheallergen.api</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AutoMapper.dll">
      <publishTime>04/04/2012 19:36:38</publishTime>
    </File>
    <File Include="bin/AutoMapper.xml">
      <publishTime>04/04/2012 19:36:38</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>04/04/2012 19:32:08</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>04/04/2012 19:32:08</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.API.dll">
      <publishTime>05/13/2012 18:27:54</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.API.pdb">
      <publishTime>05/13/2012 18:27:54</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Data.dll">
      <publishTime>04/22/2012 18:07:32</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Data.pdb">
      <publishTime>04/22/2012 18:07:32</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Models.dll">
      <publishTime>04/28/2012 10:50:16</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Models.pdb">
      <publishTime>04/28/2012 10:50:16</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>04/04/2012 19:32:10</publishTime>
    </File>
    <File Include="bin/StructureMap.dll">
      <publishTime>12/03/2011 09:42:11</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>01/26/2012 18:59:02</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>04/04/2012 19:32:15</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>04/04/2012 19:32:15</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>01/16/2012 23:37:14</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>04/04/2012 19:32:18</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>04/04/2012 19:32:17</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>04/04/2012 19:32:04</publishTime>
    </File>
    <File Include="Images/Logos/arbys.jpg">
      <publishTime>04/29/2012 11:10:00</publishTime>
    </File>
    <File Include="Images/Logos/burger-king.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/burgerking.png">
      <publishTime>04/04/2012 20:44:48</publishTime>
    </File>
    <File Include="Images/Logos/carls-jr.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/carlsjr.png">
      <publishTime>04/04/2012 20:44:48</publishTime>
    </File>
    <File Include="Images/Logos/chick-fil-a.jpg">
      <publishTime>04/28/2012 10:39:34</publishTime>
    </File>
    <File Include="Images/Logos/chipotle.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/chipotle.png">
      <publishTime>04/07/2012 16:19:58</publishTime>
    </File>
    <File Include="Images/Logos/dominos.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/dominos.png">
      <publishTime>04/04/2012 20:44:48</publishTime>
    </File>
    <File Include="Images/Logos/five-guys.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/five-guys.png">
      <publishTime>04/07/2012 16:19:58</publishTime>
    </File>
    <File Include="Images/Logos/jack-in-the-box.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/jackinthebox.png">
      <publishTime>04/04/2012 20:44:48</publishTime>
    </File>
    <File Include="Images/Logos/subway.jpg">
      <publishTime>04/07/2012 16:43:25</publishTime>
    </File>
    <File Include="Images/Logos/subway.png">
      <publishTime>04/04/2012 20:44:48</publishTime>
    </File>
    <File Include="Images/Logos/taco-bell.jpg">
      <publishTime>04/28/2012 10:39:34</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>04/07/2012 17:16:40</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>04/04/2012 19:32:04</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/04/2012 19:32:04</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/04/2012 20:55:23</publishTime>
    </File>
  </ItemGroup>
</Project>