<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\lruckman\Desktop\publish\holdtheallergen.backend</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AttributeRouting.dll">
      <publishTime>04/07/2012 17:14:34</publishTime>
    </File>
    <File Include="bin/AttributeRouting.pdb">
      <publishTime>04/07/2012 17:14:34</publishTime>
    </File>
    <File Include="bin/AttributeRouting.xml">
      <publishTime>04/07/2012 17:14:34</publishTime>
    </File>
    <File Include="bin/AutoMapper.dll">
      <publishTime>12/10/2011 19:12:01</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>04/04/2012 19:32:08</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>04/04/2012 19:32:08</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Backend.dll">
      <publishTime>07/08/2012 16:23:04</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Backend.pdb">
      <publishTime>05/29/2012 10:25:20</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Data.dll">
      <publishTime>07/07/2012 10:44:28</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Data.pdb">
      <publishTime>04/22/2012 18:07:32</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Models.dll">
      <publishTime>07/08/2012 16:23:02</publishTime>
    </File>
    <File Include="bin/HoldTheAllergen.Models.pdb">
      <publishTime>05/29/2012 10:25:20</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>04/04/2012 19:32:10</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Mvc.dll">
      <publishTime>06/05/2011 18:15:33</publishTime>
    </File>
    <File Include="bin/StructureMap.dll">
      <publishTime>12/03/2011 09:42:11</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>04/04/2012 19:32:15</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>04/04/2012 19:32:15</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>04/04/2012 19:32:14</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>04/04/2012 19:32:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>04/04/2012 19:32:13</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>04/04/2012 19:32:18</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>04/04/2012 19:32:17</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>04/04/2012 19:32:11</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>04/07/2012 17:14:34</publishTime>
    </File>
    <File Include="bin/WebActivator.pdb">
      <publishTime>04/07/2012 17:14:34</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.css">
      <publishTime>04/15/2012 18:38:02</publishTime>
    </File>
    <File Include="Content/bootstrap.css">
      <publishTime>04/19/2012 20:30:20</publishTime>
    </File>
    <File Include="Content/images/close.gif">
      <publishTime>04/22/2012 17:18:51</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings-white.png">
      <publishTime>04/15/2012 18:38:02</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings.png">
      <publishTime>04/15/2012 18:38:02</publishTime>
    </File>
    <File Include="Content/site.css">
      <publishTime>04/22/2012 17:21:41</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>04/07/2012 17:10:29</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>04/07/2012 17:10:29</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>04/22/2012 18:02:48</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>04/15/2012 18:38:02</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1-vsdoc.js">
      <publishTime>04/16/2012 18:31:48</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.js">
      <publishTime>04/16/2012 18:31:48</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>04/16/2012 18:31:48</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>04/07/2012 17:10:30</publishTime>
    </File>
    <File Include="Scripts/jquery.extras.js">
      <publishTime>04/20/2012 23:36:50</publishTime>
    </File>
    <File Include="Scripts/jquery.fcbkcomplete.min.js">
      <publishTime>04/22/2012 16:37:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>04/16/2012 19:55:08</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>04/16/2012 19:55:08</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>04/16/2012 19:55:08</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>04/07/2012 17:10:31</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>04/07/2012 17:10:32</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>04/07/2012 17:10:29</publishTime>
    </File>
    <File Include="Views/MenuItem/EditorTemplates/MenuItemCreateModel.cshtml">
      <publishTime>04/22/2012 17:22:53</publishTime>
    </File>
    <File Include="Views/MenuItem/EditorTemplates/MenuItemDeleteModel.cshtml">
      <publishTime>04/22/2012 14:00:56</publishTime>
    </File>
    <File Include="Views/MenuItem/EditorTemplates/MenuItemEditModel.cshtml">
      <publishTime>04/22/2012 17:32:03</publishTime>
    </File>
    <File Include="Views/MenuItem/Index.cshtml">
      <publishTime>04/22/2012 17:25:19</publishTime>
    </File>
    <File Include="Views/MenuItem/_Create.cshtml">
      <publishTime>04/22/2012 15:59:15</publishTime>
    </File>
    <File Include="Views/MenuItem/_Delete.cshtml">
      <publishTime>04/22/2012 13:59:58</publishTime>
    </File>
    <File Include="Views/MenuItem/_Edit.cshtml">
      <publishTime>04/22/2012 17:34:46</publishTime>
    </File>
    <File Include="Views/Restaurant/Details.cshtml">
      <publishTime>04/22/2012 16:28:36</publishTime>
    </File>
    <File Include="Views/Restaurant/DisplayTemplates/RestaurantModel.cshtml">
      <publishTime>04/22/2012 16:32:08</publishTime>
    </File>
    <File Include="Views/Restaurant/EditorTemplates/RestaurantCreateModel.cshtml">
      <publishTime>04/18/2012 20:05:59</publishTime>
    </File>
    <File Include="Views/Restaurant/EditorTemplates/RestaurantDeleteModel.cshtml">
      <publishTime>04/18/2012 20:43:40</publishTime>
    </File>
    <File Include="Views/Restaurant/Index.cshtml">
      <publishTime>04/19/2012 20:53:46</publishTime>
    </File>
    <File Include="Views/Restaurant/_Create.cshtml">
      <publishTime>04/19/2012 20:06:28</publishTime>
    </File>
    <File Include="Views/Restaurant/_Delete.cshtml">
      <publishTime>04/19/2012 20:19:24</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/EditorTemplates/RestaurantIngredientCreateModel.cshtml">
      <publishTime>07/07/2012 12:06:22</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/EditorTemplates/RestaurantIngredientDeleteModel.cshtml">
      <publishTime>04/17/2012 20:45:14</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/EditorTemplates/RestaurantIngredientEditModel.cshtml">
      <publishTime>07/07/2012 12:06:17</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/Index.cshtml">
      <publishTime>04/22/2012 13:37:22</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/_Create.cshtml">
      <publishTime>04/19/2012 20:32:12</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/_Delete.cshtml">
      <publishTime>04/19/2012 20:32:24</publishTime>
    </File>
    <File Include="Views/RestaurantIngredient/_Edit.cshtml">
      <publishTime>04/22/2012 10:10:14</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>04/07/2012 17:10:29</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>04/19/2012 20:43:16</publishTime>
    </File>
    <File Include="Views/Shared/_LoginPartial.cshtml">
      <publishTime>04/08/2012 09:19:01</publishTime>
    </File>
    <File Include="Views/Shared/_RestaurantMenu.cshtml">
      <publishTime>04/22/2012 16:26:47</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>04/16/2012 18:51:15</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/07/2012 17:10:29</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/22/2012 18:07:36</publishTime>
    </File>
  </ItemGroup>
</Project>