@model HoldTheAllergen.Models.MenuItemDeleteModel
<form class="form-horizontal" action="@Request.RawUrl" method="POST">
<p>Deleting this menu item cannot be undone, are you sure?</p>
@Html.EditorFor(model=>model.Id)
</form>